<a href="https://colab.research.google.com/github/arnaldorosentino/ExerciciosMBA_Parte2/blob/main/AgupamentoPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Agrupamento no Pandas

In [ ]:
!pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 13.4 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=fb5d888ebe5f8966fc4619416ab5dd82692f6dfa658286d1d8501fc27a52f4f2
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [ ]:
import names
import numpy as np
import pandas as pd

In [ ]:
n = 200

nomesM = [names.get_first_name(gender = 'male') for i in range(int(n/2))]
nomesF = [names.get_first_name(gender = 'female') for i in range(int(n/2))]

In [ ]:
nomes = nomesM + nomesF

# Gerando uma lista do sexo masculino e feminino cada uma igual a n/2
sexo = ['M']*int(n/2) + ['F']*int(n/2) 

p1 = np.random.uniform(0, 10, n)
p2 = np.random.uniform(3, 10, n)
p3 = np.random.uniform(1, 9, n)

dicionario = {'Nomes': nomes,
              'Sexo': sexo,
              'P1': p1,
              'P2': p2,
              'P3': p3}

notas = pd.DataFrame(dicionario).round(1)


notas['MF'] = np.ceil(10*notas.mean(axis=1))/10

def auxiliar(nota):
  if nota >=6:
    saida = 'Aprovado'
  else:
    saida = 'Reprovado'
  return saida

notas['Situação'] = notas['MF'].apply(auxiliar)
notas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

        Nomes Sexo   P1   P2   P3   MF   Situação
0       Toney    M  4.6  5.1  1.9  3.9  Reprovado
1      Albert    M  6.7  9.2  1.0  5.7  Reprovado
2      Donald    M  4.7  4.2  1.1  3.4  Reprovado
3        Gary    M  3.5  5.5  6.8  5.3  Reprovado
4      Donald    M  9.5  7.4  7.6  8.2   Aprovado
..        ...  ...  ...  ...  ...  ...        ...
195    Sherri    F  6.5  6.6  1.4  4.9  Reprovado
196     Carol    F  5.8  5.8  6.5  6.1   Aprovado
197  Kathleen    F  4.3  8.7  3.2  5.4  Reprovado
198   Leticia    F  3.3  9.4  1.4  4.7  Reprovado
199   Deborah    F  2.9  9.5  4.6  5.7  Reprovado

[200 rows x 7 columns]

In [ ]:
notas[notas['Sexo'] == 'M']['MF'].mean()

5.510999999999997

In [ ]:
notas[notas['Sexo'] == 'F']['MF'].mean()

5.3400000000000025

In [ ]:
notas.groupby('Sexo').mean()

         P1     P2     P3     MF
Sexo
F     4.606  6.515  4.781  5.340
M     5.291  6.346  4.767  5.511

In [ ]:
notas.groupby('Sexo').max()

        Nomes   P1    P2   P3   MF   Situação
Sexo
F      Yvonne  9.9  10.0  8.9  8.2  Reprovado
M     William  9.9   9.8  9.0  8.6  Reprovado

In [ ]:
notas.groupby('Sexo').min()

      Nomes   P1   P2   P3   MF  Situação
Sexo
F     Agnes  0.2  3.0  1.0  2.5  Aprovado
M     Aaron  0.1  3.0  1.0  2.0  Aprovado

In [ ]:
notas.groupby('Sexo').sum()

         P1     P2     P3     MF
Sexo
F     460.6  651.5  478.1  534.0
M     529.1  634.6  476.7  551.1

In [ ]:
notas.groupby('Sexo').describe()

         P1                                                  P2         ...  \
      count   mean       std  min  25%   50%    75%  max  count   mean  ...
Sexo                                                                    ...
F     100.0  4.606  2.706775  0.2  2.4  4.40  6.700  9.9  100.0  6.515  ...
M     100.0  5.291  2.850203  0.1  3.1  5.25  7.525  9.9  100.0  6.346  ...

         P3          MF
        75%  max  count   mean       std  min    25%   50%  75%  max
Sexo
F     6.525  8.9  100.0  5.340  1.353484  2.5  4.300  5.35  6.5  8.2
M     6.800  9.0  100.0  5.511  1.530557  2.0  4.475  5.40  6.7  8.6

[2 rows x 32 columns]

In [ ]:
notas.groupby('Sexo').describe()['P1']

      count   mean       std  min  25%   50%    75%  max
Sexo
F     100.0  4.606  2.706775  0.2  2.4  4.40  6.700  9.9
M     100.0  5.291  2.850203  0.1  3.1  5.25  7.525  9.9

In [ ]:
notas['MF'].groupby(notas['Sexo']).mean()

Sexo
F    5.340
M    5.511
Name: MF, dtype: float64

In [ ]:
notas.groupby(['Situação', 'Sexo']).mean()

                      P1        P2        P3        MF
Situação  Sexo
Aprovado  F     6.936111  7.197222  6.172222  6.808333
          M     7.394595  7.621622  6.278378  7.129730
Reprovado F     3.295313  6.131250  3.998438  4.514062
          M     4.055556  5.596825  3.879365  4.560317

In [ ]:
notas.groupby(['Sexo', 'Situação']).mean()

                      P1        P2        P3        MF
Sexo Situação
F    Aprovado   6.936111  7.197222  6.172222  6.808333
     Reprovado  3.295313  6.131250  3.998438  4.514062
M    Aprovado   7.394595  7.621622  6.278378  7.129730
     Reprovado  4.055556  5.596825  3.879365  4.560317

In [ ]:
notas.groupby(['Sexo', 'Situação']).mean()[['P3', 'MF']]

                      P3        MF
Sexo Situação
F    Aprovado   6.172222  6.808333
     Reprovado  3.998438  4.514062
M    Aprovado   6.278378  7.129730
     Reprovado  3.879365  4.560317

# Exercício Proposto

Crie uma coluna no conjunto de dados que represente a presença do aluno durante o curso. Pode ser uma variável gerada através de uma distribuição uniforme, que represente a frequência em porcentagem do aluno.

Diante disso:

- Calcule a média final dos grupos: pouca frequencia (até 40%), média frequencia (entre 40% e 70%) e muito frequente (acima de 70%)
- Um aluno reprova por nota se sua frequencia é inferior a 75%. Verifique quantos alunos foram reprovados apenas pelo fato de não ter frequência suficiente.
- Qual a nota final média, por sexo, de quem não reprovou por falta, mas reprovou por nota? E de quem reprovou por falta, mas não reprovou por nota?

In [44]:
n = 200

nomesM = [names.get_first_name(gender = 'male') for i in range(int(n/2))]
nomesF = [names.get_first_name(gender = 'female') for i in range(int(n/2))]

In [52]:
nomes = nomesM + nomesF

# Gerando uma lista do sexo masculino e feminino cada uma igual a n/2
sexo = ['M']*int(n/2) + ['F']*int(n/2) 

p1 = np.random.uniform(0, 10, n)
p2 = np.random.uniform(3, 10, n)
p3 = np.random.uniform(1, 9, n)

dicionario = {'Nomes': nomes,
              'Sexo': sexo,
              'P1': p1,
              'P2': p2,
              'P3': p3}

notas = pd.DataFrame(dicionario).round(1)


notas['MF'] = np.ceil(10*notas.mean(axis=1))/10

# Gerando coluna de frequência
notas['Frequência'] = np.random.uniform(0, 100, n).round(1)

notas

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

        Nomes Sexo   P1   P2   P3   MF  Frequência
0        Troy    M  6.6  4.4  4.3  5.2        17.8
1      Philip    M  0.9  9.9  6.4  5.8        99.7
2     Clinton    M  8.5  6.0  4.4  6.3        39.7
3       Larry    M  7.6  8.7  1.7  6.0        36.0
4      Joseph    M  8.6  6.4  6.2  7.1         5.4
..        ...  ...  ...  ...  ...  ...         ...
195  Jeanette    F  7.1  9.2  8.4  8.3        52.7
196     Debra    F  4.1  9.0  6.1  6.4        82.0
197    Andrea    F  7.3  6.1  5.0  6.2        76.6
198     Alice    F  8.3  5.6  8.3  7.5        31.9
199     Debra    F  8.6  9.3  3.3  7.1         8.9

[200 rows x 7 columns]

In [63]:
# Gerando Coluna Aprovado/Reprovado por Nota

def auxiliar(nota):
  if nota >= 6:
    saida = 'Aprovado'
  else:
    saida = 'RN'
  return saida

notas['Situação'] = notas['MF'].apply(auxiliar)

# Gerando Coluna Reprovados por Falta

def auxiliar2(RepFreq):
  if RepFreq < 75:
    saida2 = 'RF'
  else:
    saida2 = 'Não'
  return saida2

notas['Reprovação por Falta?'] = notas['Frequência'].apply(auxiliar2)

# Gerando grupos de frequências

def auxiliar3(frequencia):
  if frequencia <= 40:
    saida3 = 'Baixa Frequência'
  if frequencia > 40 and frequencia < 70:
    saida3 = 'Média Frequência'
  if frequencia >= 70:
    saida3 = 'Alta Frequência'
  return saida3

notas['Situação Frequência'] = notas['Frequência'].apply(auxiliar3)

,Nomes,Sexo,P1,P2,P3,MF,Frequência,Situação,Reprovação por Falta?,Situação Frequência
0,Troy,M,6.6,4.4,4.3,5.2,17.8,RN,RF,Baixa Frequência
1,Philip,M,0.9,9.9,6.4,5.8,99.7,RN,Não,Alta Frequência
2,Clinton,M,8.5,6.0,4.4,6.3,39.7,Aprovado,RF,Baixa Frequência
3,Larry,M,7.6,8.7,1.7,6.0,36.0,Aprovado,RF,Baixa Frequência
4,Joseph,M,8.6,6.4,6.2,7.1,5.4,Aprovado,RF,Baixa Frequência
...,...,...,...,...,...,...,...,...,...,...
195,Jeanette,F,7.1,9.2,8.4,8.3,52.7,Aprovado,RF,Média Frequência
196,Debra,F,4.1,9.0,6.1,6.4,82.0,Aprovado,Não,Alta Frequência
197,Andrea,F,7.3,6.1,5.0,6.2,76.6,Aprovado,Não,Alta Frequência
198,Alice,F,8.3,5.6,8.3,7.5,31.9,Aprovado,RF,Baixa Frequência
199,Debra,F,8.6,9.3,3.3,7.1,8.9,Aprovado,RF,Baixa Frequência

In [ ]:
# Atividade 1: Calcule a média final dos grupos: pouca frequencia (até 40%), média frequencia (entre 40% e 70%) e muito frequente (acima de 70%)

notas.groupby(['Situação Frequência']).mean()[['MF']]

                           MF
Situação Frequência
Alta Frequência      5.432394
Baixa Frequência     5.386111
Média Frequência     5.466667

In [69]:
# Atividade 2: Um aluno reprova por nota se sua frequencia é inferior a 75%. 

# Verifique quantos alunos foram reprovados apenas pelo fato de não ter frequência suficiente.

# Opção 1
notas.groupby('Reprovação por Falta?').describe()['MF']

# Opção 2
notas['MF'].groupby(notas['Reprovação por Falta?']).count()

Reprovação por Falta?
Não     57
RF     143
Name: MF, dtype: int64

In [70]:
# Atividade 3: Qual a nota final média, por sexo, de quem não reprovou por falta, mas reprovou por nota? 
#              E de quem reprovou por falta, mas não reprovou por nota?

notas.groupby(['Situação', 'Reprovação por Falta?']).mean()[['MF']]

                                      MF
Situação Reprovação por Falta?
Aprovado Não                    6.563636
         RF                     7.032143
RN       Não                    4.502857
         RF                     4.573563

In [ ]:
# Dúvida:

# Como gerar um apply aplicado a dois atributos. Exemplo Abaixo:

# def auxiliar(nota, RepFreq):
#  if nota >= 6 and RepFreq >= 75:
#    saida = 'Aprovado'
#  if nota < 6 and RepFreq >= 75:
#    saida = 'RN'
#  if RepFreq < 75:
#    saida = 'RF'
#  return saida