<a href="https://colab.research.google.com/github/arnaldorosentino/ExerciciosMBA_Parte2/blob/main/IntroPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Biblioteca Pandas

Tratamento e manipulação de dados em Python

https://pandas.pydata.org/pandas-docs/stable/

In [1]:
import numpy as np

In [2]:
# Gerando 5 valores aleatórios entre 0 e 10 seguindo uma distribuição uniforme
x = np.random.uniform(0, 10, 5)
x

array([4.52325845, 1.03452708, 2.18138908, 5.89011945, 0.89134681])

In [4]:
x = np.random.uniform(0, 10, 21).reshape(7,3)
x

array([[0.41524677, 6.58627358, 5.31667848],
       [0.45013367, 4.00782618, 9.08522962],
       [3.91169128, 9.70581176, 2.24672191],
       [4.2377635 , 5.95552927, 7.37468957],
       [4.67006092, 8.58048253, 2.73158584],
       [0.47701059, 9.68463692, 3.39284186],
       [4.97155963, 8.95043901, 3.03559143]])

In [5]:
import pandas as pd

In [11]:
# DataFrame -> Conjunto de Dados

nomes = ['Arnaldo', 'Bruno', 'Carla', 'Daniel', 'Emily', 'Fabio','Glória']
provas = ['P1', 'P2','P3']

notas = pd.DataFrame(x, index = nomes, columns = provas).round(1)
notas

          P1   P2   P3
Arnaldo  0.4  6.6  5.3
Bruno    0.5  4.0  9.1
Carla    3.9  9.7  2.2
Daniel   4.2  6.0  7.4
Emily    4.7  8.6  2.7
Fabio    0.5  9.7  3.4
Glória   5.0  9.0  3.0

In [12]:
type(notas)

pandas.core.frame.DataFrame

In [13]:
notas.transpose()

    Arnaldo  Bruno  Carla  Daniel  Emily  Fabio  Glória
P1      0.4    0.5    3.9     4.2    4.7    0.5     5.0
P2      6.6    4.0    9.7     6.0    8.6    9.7     9.0
P3      5.3    9.1    2.2     7.4    2.7    3.4     3.0

In [14]:
notas.T

    Arnaldo  Bruno  Carla  Daniel  Emily  Fabio  Glória
P1      0.4    0.5    3.9     4.2    4.7    0.5     5.0
P2      6.6    4.0    9.7     6.0    8.6    9.7     9.0
P3      5.3    9.1    2.2     7.4    2.7    3.4     3.0

In [15]:
notas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Arnaldo to Glória
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P1      7 non-null      float64
 1   P2      7 non-null      float64
 2   P3      7 non-null      float64
dtypes: float64(3)
memory usage: 524.0+ bytes

In [16]:
notas.describe()

             P1        P2        P3
count  7.000000  7.000000  7.000000
mean   2.742857  7.657143  4.728571
std    2.157821  2.170912  2.640527
min    0.400000  4.000000  2.200000
25%    0.500000  6.300000  2.850000
50%    3.900000  8.600000  3.400000
75%    4.450000  9.350000  6.350000
max    5.000000  9.700000  9.100000

In [17]:
notas.head(3)

          P1   P2   P3
Arnaldo  0.4  6.6  5.3
Bruno    0.5  4.0  9.1
Carla    3.9  9.7  2.2

In [18]:
notas.tail(3)

         P1   P2   P3
Emily   4.7  8.6  2.7
Fabio   0.5  9.7  3.4
Glória  5.0  9.0  3.0

In [24]:
notas.sample(3)

          P1   P2   P3
Glória   5.0  9.0  3.0
Arnaldo  0.4  6.6  5.3
Carla    3.9  9.7  2.2

In [27]:
notas.mean(axis=1).round(1)

Arnaldo    4.1
Bruno      4.5
Carla      5.3
Daniel     5.9
Emily      5.3
Fabio      4.5
Glória     5.7
dtype: float64

In [28]:
# Arrendondamenro para o maior valor inteiro

np.ceil(notas.mean(axis=1))

Arnaldo    5.0
Bruno      5.0
Carla      6.0
Daniel     6.0
Emily      6.0
Fabio      5.0
Glória     6.0
dtype: float64

In [31]:
mf = np.ceil(10*notas.mean(axis=1))/10

# adicionar a coluna de media final no conjunto de dados

notas['MF'] = mf
notas

          P1   P2   P3   MF
Arnaldo  0.4  6.6  5.3  4.2
Bruno    0.5  4.0  9.1  4.6
Carla    3.9  9.7  2.2  5.3
Daniel   4.2  6.0  7.4  5.9
Emily    4.7  8.6  2.7  5.4
Fabio    0.5  9.7  3.4  4.6
Glória   5.0  9.0  3.0  5.7

In [38]:
# O aluno é considerado aprovado quando sua nota MF >= 6

# ** MUITO ÚTIL!!!! ***

def auxiliar(nota):
  if nota >=6:
    saida = 'Aprovado'
  else:
    saida = 'Reprovado'
  return saida

notas['Situação'] = notas['MF'].apply(auxiliar)
notas

          P1   P2   P3   MF   Situação
Arnaldo  0.4  6.6  5.3  4.2  Reprovado
Bruno    0.5  4.0  9.1  4.6  Reprovado
Carla    3.9  9.7  2.2  5.3  Reprovado
Daniel   4.2  6.0  7.4  5.9  Reprovado
Emily    4.7  8.6  2.7  5.4  Reprovado
Fabio    0.5  9.7  3.4  4.6  Reprovado
Glória   5.0  9.0  3.0  5.7  Reprovado

In [40]:
# Ordenando os valores da MF de forma decrescente (ascending = False)

notas.sort_values(by = 'MF', ascending = False)

          P1   P2   P3   MF   Situação
Daniel   4.2  6.0  7.4  5.9  Reprovado
Glória   5.0  9.0  3.0  5.7  Reprovado
Emily    4.7  8.6  2.7  5.4  Reprovado
Carla    3.9  9.7  2.2  5.3  Reprovado
Bruno    0.5  4.0  9.1  4.6  Reprovado
Fabio    0.5  9.7  3.4  4.6  Reprovado
Arnaldo  0.4  6.6  5.3  4.2  Reprovado

In [42]:
# Implementa a ordenação e implmenta a modificação no objeto (inplace = True)

notas.sort_values(by = 'MF', ascending = False, inplace = True)
notas

          P1   P2   P3   MF   Situação
Daniel   4.2  6.0  7.4  5.9  Reprovado
Glória   5.0  9.0  3.0  5.7  Reprovado
Emily    4.7  8.6  2.7  5.4  Reprovado
Carla    3.9  9.7  2.2  5.3  Reprovado
Bruno    0.5  4.0  9.1  4.6  Reprovado
Fabio    0.5  9.7  3.4  4.6  Reprovado
Arnaldo  0.4  6.6  5.3  4.2  Reprovado

In [43]:
notas.index

Index(['Daniel', 'Glória', 'Emily', 'Carla', 'Bruno', 'Fabio', 'Arnaldo'], dtype='object')

In [45]:
# Retirar parâmetros de LINHAS sem modificar o objeto original -> drop

notas.drop(['Arnaldo', 'Fabio'])

         P1   P2   P3   MF   Situação
Daniel  4.2  6.0  7.4  5.9  Reprovado
Glória  5.0  9.0  3.0  5.7  Reprovado
Emily   4.7  8.6  2.7  5.4  Reprovado
Carla   3.9  9.7  2.2  5.3  Reprovado
Bruno   0.5  4.0  9.1  4.6  Reprovado

In [46]:
# Para retirar parâmetros que econtram-se nas colunas: Inserir na função drop "axis = 1"

notas.drop(['P1', 'Situação'], axis = 1)

          P2   P3   MF
Daniel   6.0  7.4  5.9
Glória   9.0  3.0  5.7
Emily    8.6  2.7  5.4
Carla    9.7  2.2  5.3
Bruno    4.0  9.1  4.6
Fabio    9.7  3.4  4.6
Arnaldo  6.6  5.3  4.2

In [47]:
# Retirar coluna modificando o objeto original

notas_divulgação = notas.drop(provas, axis = 1)
notas_divulgação

          MF   Situação
Daniel   5.9  Reprovado
Glória   5.7  Reprovado
Emily    5.4  Reprovado
Carla    5.3  Reprovado
Bruno    4.6  Reprovado
Fabio    4.6  Reprovado
Arnaldo  4.2  Reprovado

In [49]:
# Retirar coluna modificando o objeto original

notas_provas = notas.drop(['MF', 'Situação'], axis =1)
notas_provas

          P1   P2   P3
Daniel   4.2  6.0  7.4
Glória   5.0  9.0  3.0
Emily    4.7  8.6  2.7
Carla    3.9  9.7  2.2
Bruno    0.5  4.0  9.1
Fabio    0.5  9.7  3.4
Arnaldo  0.4  6.6  5.3

In [50]:
notas

          P1   P2   P3   MF   Situação
Daniel   4.2  6.0  7.4  5.9  Reprovado
Glória   5.0  9.0  3.0  5.7  Reprovado
Emily    4.7  8.6  2.7  5.4  Reprovado
Carla    3.9  9.7  2.2  5.3  Reprovado
Bruno    0.5  4.0  9.1  4.6  Reprovado
Fabio    0.5  9.7  3.4  4.6  Reprovado
Arnaldo  0.4  6.6  5.3  4.2  Reprovado

# Exercício Proposto

Crie um conjunto com 1000 nomes e 3 variáveis geradas aleatoriamente:

- nomes: use a biblioteca names para gerar nomes aleatórios
- renda_anual: 50000 + 10000*u, onde "u" é gerado aleatoriamente de uma distribuição normal padrão;
- conclusao: u, onde "u" é gerado de uma distribuição uniforme em (0,1)

Agora, acrescente ao conjunto de dados uma variável que represente:

- renda por mês
- faixa de conclusão: (0 - 0,25: baixa; 0,25 - 0,50: média; 0,50 - 0,75: alta; 0,75 - 1: excelente)
- tamanho_do_nome: (pequeno: se o nome tem até 14 caracteres; grande: se tem mais que 15 caracteres)

Entregue o conjunto de dados ordenado pelo tamanho_do_nome

In [18]:
# Variável names -> Necessário installar no Collab:

!pip install names

Collecting names
  Downloading names-0.3.0.tar.gz (789 kB)
     |████████████████████████████████| 789 kB 25.7 MB/s
Building wheels for collected packages: names
  Building wheel for names (setup.py) ... done
  Created wheel for names: filename=names-0.3.0-py3-none-any.whl size=803699 sha256=9cf2ec7485d2d28ce3b3c001de90c13002a3668e7a172f7bb361bbde461a10e0
  Stored in directory: /root/.cache/pip/wheels/05/ea/68/92f6b0669e478af9b7c3c524520d03050089e034edcc775c2b
Successfully built names
Installing collected packages: names
Successfully installed names-0.3.0

In [52]:
import names

In [56]:
# Criando um nome aleatório
names.get_full_name()

'Daniel Anderson'

In [57]:
# Extraindo apenas o primeiro nome aleatório
names.get_first_name()

'Patricia'

In [58]:
# Extraindo apenas o primeiro nome aleatório de um determinado sexo (female ou male)
names.get_first_name(gender = 'female')

'Dorothy'

In [60]:
# Criando uma lista de "5" nomes aleatórios
[names.get_full_name() for i in range(5)]

['Ciara Roberts',
 'Lyn Dillard',
 'Jill Hoffman',
 'Myron Schamp',
 'Gladys Garcia']

In [98]:
# Atividade

import names
import scipy.stats as ss
import numpy as np
import pandas as pd

reps = 1000
meses = 12

nomes = [names.get_full_name() for i in range(reps)]
renda = [((50000 + 10000*ss.norm.rvs())/meses) for i in range(reps*meses)]
conclusao = [ss.uniform.rvs() for i in range(reps)]

In [99]:
renda_mes = np.array(renda).reshape(reps,12)
tamanho_do_nome = [len(nomes[i]) for i in range(reps)]

Mes = ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez' ]

rendas = pd.DataFrame(renda_mes, index = nomes, columns = Mes).round(1)

rendas['Conclusão'] = conclusao
rendas['Tamanho'] = tamanho_do_nome


def auxiliar(faixa):
  if faixa <= 0.25:
    saida = 'baixa'
  if faixa > 0.25 and faixa <= 0.5:
    saida = 'media'
  if faixa > 0.5 and faixa <= 0.75:
    saida = 'alta'
  if faixa > 0.75:
    saida = 'excelente'
  return saida

rendas['Faixa de Conclusão'] = rendas['Conclusão'].apply(auxiliar)

def auxiliar2(tamanho):
  if tamanho < 15:
    saida2 = 'pequeno'
  else:
    saida2 = 'grande'
  return saida2

rendas['Tamanho do Nome'] = rendas['Tamanho'].apply(auxiliar2)



rendas.sort_values(by = 'Tamanho', ascending = False, inplace = True)
dados = rendas.head(10)
dados

,Jan,Fev,Mar,Abr,Maio,Jun,Jul,Ago,Set,Out,Nov,Dez,Conclusão,Tamanho,Faixa de Conclusão,Tamanho do Nome
Deborah Hollingsworth,4091.6,3337.1,4320.8,4750.4,2658.8,4168.8,4729.3,4307.6,3602.1,5064.6,4846.6,4336.1,0.987914,21,excelente,grande
Christina Richardson,4531.4,3598.8,2865.6,2730.6,3319.8,3735.3,4279.8,4451.7,3193.3,3872.9,2655.4,3544.8,0.324244,20,media,grande
Sebastian Brewington,4491.3,3408.4,3328.7,5181.1,5206.6,4300.5,5095.4,2719.5,5698.1,5000.5,2976.1,1931.0,0.960598,20,excelente,grande
Florencio Arrowsmith,4808.0,4381.8,4219.7,3532.8,3857.8,5305.1,5710.6,4525.1,3186.5,4967.8,3910.2,5015.7,0.928719,20,excelente,grande
Christopher Spickard,4912.0,2829.6,4066.1,3273.5,3879.3,3381.3,4707.7,4545.5,4412.5,5061.2,4044.5,5288.4,0.193252,20,baixa,grande
Christopher Mcdaniel,3502.8,4250.2,4393.0,5106.8,4286.4,3621.7,4459.1,5048.8,3326.9,2855.3,3489.9,3019.0,0.370596,20,media,grande
Christopher Timchula,4712.9,2847.5,3744.8,3533.3,3590.1,5472.7,4688.4,5547.3,4479.4,3707.0,4402.9,3894.2,0.180018,20,baixa,grande
Gabriel Higgenbotham,2193.8,3676.8,4091.1,5773.9,3900.8,5086.1,4351.7,5871.8,3911.2,5689.9,4344.3,4839.4,0.378106,20,media,grande
Benjamin Hackathorn,3187.6,3022.5,4377.7,5257.3,2968.6,2760.5,5155.9,3893.7,4755.7,5479.3,3460.7,3514.0,0.143636,19,baixa,grande
Leonard Orzechowski,5533.4,3641.1,2842.1,5411.2,4237.5,5438.7,3346.0,3973.1,3281.2,5891.2,4442.2,4890.9,0.050383,19,baixa,grande